@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
#navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #ffffff41;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.199);
    padding: 10px 10%;
    z-index: 100;
    top: 0;
  }
  .main-logo a{
    text-decoration: none;
  }
  .main-logo p{
    color: #C0B9DD;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    height: 30px;
    transition: all 5s;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    
  }
  .main-logo{
    background-color: #292929;
    width: 55px;
    height: fit-content;
    padding: 5px 15px;
    border-radius: 100px;
    transition: all 1s;
    
  }
  .main-logo:hover{
    width: 125px;
    transition: all 1s;
  }
  
  .main-logo span{
    opacity: 0;
    transition: all 0.5s;
  }
  .main-logo:hover span{
    opacity: 1;
    transition: all 4s;
  }
  .navbar-login p{
    text-align: center;
    margin: 0px;
    
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    
  }
  .navbar-login{
    background-color: #C0B9DD;
    width: 100px;
    padding: 5px 15px;
    border-radius: 50px;
    border: 0px;
  }
  
  .navbar-search{
    background-color: #C0B9DD;
    padding: 5px 15px;
    border-radius: 50px;
    display: flex;
    width:60px;
    transition: all 2s;
    justify-content: flex-end;
  }
  .navbar-search:hover {
    width: 260px;
    transition: all 1s;
  }
  .navbar-search:hover input{
    transition: all 2s;
    width: 200px;
    opacity: 1;
  }
  .navbar-search img,.navbar-search-mobile img{
    height: 30px;
  }
  .navbar-search input{
    border-color: #555;
    border-width: 0px;
    border-bottom-width: 1px;
    margin-right: 5px;
    background: none;
    width: 1px;
    transition: all 1.5s;
    opacity: 0;
  }
  .navbar-search-mobile{
    width: 100%;
    display: flex;
    padding: 10px 10px;
  }
  .navbar-search-mobile input{
    border: 0px;
    border-radius: 25px;
    width: 100%;
    max-width: 450px;
    height: 30px;
    margin: 0px 5px;
    padding: 5px 10px;
  }
  
  .navbar-search input:focus{
    outline: none;
  }
  
  .navbar-search-container{
    padding: 0px 2px;
    min-width:fit-content;
    
  }
  .navbar-login-container{
    padding: 0px 2px;
    min-width: fit-content;
    
  }
  .navbar-right-container{
    justify-content: flex-end;
  }
  
  #popup-menu{
    background-color: #ffffff41;
    
    backdrop-filter: blur(15px);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.37);
    width: 90%;
    margin-top: 70px;
    padding: 30px;
    position:fixed;
    visibility: hidden;
    border-radius: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    transition:visibility  0.5s linear,opacity 0.5s linear;
    opacity: 0;
    z-index: 1;
  }
  #popup-menu-desk{
    padding: 20px;
    border-radius: 25px;
    background-color: #ffffff41;
    backdrop-filter: blur(15px);
    width: 30%;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.37);
    right: 0;  
    top:70px;
    position: fixed;
    visibility: hidden;
    transition:visibility  0.5s linear,opacity 0.5s linear;
    opacity: 0;
    z-index: 100;
    right: 8%;
  }
  .show-popup{
    visibility: visible !important;
    opacity: 1 !important;
    
  }
  #nav-icon{
    width: 40px;
    height: 30px;
    position: relative;
    margin:8px;
    
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #292929;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #nav-icon span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 9px;
  }
  
  #nav-icon span:nth-child(4) {
    top: 18px;
  }
  
  #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .mobile-login-section h3,.mobile-sign-up-section h3{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px 10px;
    margin-top: 10px;
    
  }
  .mobile-sign-up-section h3{
    font-size: 30px;
  }
  .mobile-login-section input  {
    border: 0px;
    border-radius: 25px;
    width: 100%;
    height: 30px;
    margin: 5px 0px;
    padding: 10px;
  }
  
  .mobile-login-section input:focus,.mobile-search-section input:focus{
    outline-style: none;
  }
  .mobile-login-section button ,.mobile-sign-up-section button{
    background-color: #C0B9DD;
    border-radius: 25px;
    border: 0px;
    font-size: 25px;
    padding: 5px 20px;
    margin: 10px 0px;
    margin-top: 15px;
  }
  